.bundle
db/*.sqlite3
log/*.log
tmp/**/*
/tmp
/.idea
*.swp
*.swo
db/sphinx/*
.DS_Store
*.*~
*.swp
nbproject
public/system
config/.directory
.directory
config/databasedotcom.yml
MyGuardfile

db/schema.rb
.zeus.sock
coverage